/* Avazbek */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    
}


.container{
    width: 100%;
    height: 1080px;
    background: #FFF;
}


/* mobi css */